body{
	background-color: #CFC;
	color: #666666;
	text-align: jusify;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: red;
}

.container{
	width: 60%;
	margin: auto;
}

.Quest-1{
	background-color: #333;
	color: #fff;

	border: 5px blue solid;
	padding: 20px;
	margin:  20px 0;
}

.Quest-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;	
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.Quest-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border: 5px red solid;
	padding: 10px;
	border-radius: 15px; 
}

.categories h2{
	text-align: center;
}

.categories ul{
		padding: 0;
		list-style: square;
		list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom:dotted 1px #333; 
	list-style-image: url(' ../images/memi2.png ');
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}
.my-form .button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background-color: red;
	color: #fff;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 70%;
	background-color: grey;
	color: white;
	padding: 15px;
	box-sizing: border-box;
}
#side-bar{
	float: right;
	width: 30%;
	background-color: black;
	color: white;
	box-sizing: border-box;
}